/* ************************
Base Styles
*************************/

body {
    font-family: Helvetica, Helvetica Neue, Arial;
    min-height: 100%;
    background-color: #4f5f76;
    color: white;
    font: 16px/1.5 Trebuchet MS;
}

.title {
    /* background-color: #646C79; */
    color: white;
    padding: 1em;
}

#second {
  
}

#quotes {
  
}

#navigation {
  background-image: linear-gradient(130deg,#001a72 0%,#005eb8 100%);
  background-color: transparent;
}

#pageheader {
  color: white;
  text-align: center;
  font-weight: bold;
}

#author {
  color: #001a72;
}

#quote {
  font-style: italic;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height 2rem;
    background-image: linear-gradient(130deg,#005eb8 0%,#001a72 100%);
    background-color: transparent;
    color: white;
    text-align: left;
}

#carousel_text {
  color: white;
  margin-bottom: 45rem;
  font-style: italic;
  font-weight: bold;
}

#carouselimg {
  transform: scale(.5, .5);
}

.column {
  float: left;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}


/******************************
Navigation Menu
*******************************/



/******************************
Modal
*******************************/

.promo {
  display: inline-block;
  cursor: pointer;
  padding: 2em;
}

.promo img {
  max-width: 100%;
}
.articles {
  display: none;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  overflow: auto;
}
.modal-content {
  background: white;
  color: black;
  max-width: 60em;
  margin: 3em auto;
  padding: 2em;
}
.modal-close {
  float: right;
  margin: 0 0 2em 2em;
  width: 2.5em;
  height: 2.5em;
  font-size: 1em;
  cursor: pointer;
}

#italic {
  font-style: italic;
}





/******************************
Media Queries
*******************************/

@media screen and (min-width: 720px) {

.logo {

}

}


/*************************
Clearfix
************************ */